body{
    background-image: linear-gradient(to top left, #458236 0%, #14300c 100%);
    background-attachment: fixed;
    
}

.title{
    font-size: 90px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 60%;
    left: 15%;
    color: #fff;
}
.timer {
    
    
}
.timer li{
    display: inline-block;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    margin-left: 250px;
    margin-top: 10px;
    background-color: #14300c;
    border-radius: 5px;
    color: #fff;
}
.data{
    margin-left: 150px;
}
.data h2{
    display: inline-block;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
   margin-left: 180px;
    margin-top: 200px;
    color: #fff;
}

@media screen and (max-width: 750px) {
    .title{
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 20%;
        left: 20%;
        color: #fff;
        /* display: none; */
    }
    .timer li{
        display: inline-block;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        padding: 20px;
        margin-left: 30px;
        margin-top: 5px;
        background-color: #14300c;
        border-radius: 5px;
        color: #fff;
    }
    .data{
        margin-left: 15px;
    }
    .data h2{
        display: inline-block;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        padding: 20px;
       margin-left: 0px;
        margin-top: 300px;
        text-align: center;
        color: #fff;
    }
  }

  @media screen and (max-width: 400px) {
    .title{
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 20%;
        left: 20%;
        color: #fff;
        /* display: none; */
    }
    .timer li{
        display: inline-block;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        padding: 20px;
        margin-left: 0px;
        margin-top: 3px;
        background-color: #14300c;
        border-radius: 5px;
        color: #fff;
    }
    .data{
        margin-left: 35px;
    }
    .data h2{
        display: inline-block;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        padding: 5px;
       margin-left: 0px;
        margin-top: 180px;
        text-align: center;
        color: #fff;
    }
  }
